.cards {
  background-color: rgb(27, 27, 27);
  border: solid 2px rgb(45, 45, 45);
  border-right: none;
  border-bottom: none;
  margin: 75px 0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33%;
  gap: var(--spacing-xl);
  max-width: var(--global-width);
  margin: 0 auto;
  padding: 75px 0;
}

.item {
  padding: 0;
  overflow: hidden;

  &:nth-child(odd) {
    transform: translateY(0);
  }

  &:nth-child(even) {
    transform: translateY(40px);
  }
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgb(255 157 0) 0%, rgb(255 114 0) 100%);
  padding: var(--spacing-xxl);
}

.content {
  padding: var(--spacing-l);
}

.description {
  padding-top: var(--spacing-m);
}