@import "./mixins.scss";

:root {
  --color-dark: 17, 17, 17;
  --color-light: 255, 255, 255;
  --color-primary: 255, 165, 0;
  --color-primary-500: 255, 147, 0;
  --color-secondary: 35, 25, 40;
  --color-positive: 107, 231, 149;
  --color-stable: 37, 38, 40;
  --color-stable-500: 48, 48, 49;
  --color-stable-700: 112, 112, 118;
  --font-xxs: 12px;
  --font-xs: 14px;
  --font-s: 16px;
  --font-m: 18px;
  --font-l: 24px;
  --font-xl: 30px;
  --font-xxl: 36px;
  --font-xxxl: 48px;
  --font-xxxxl: 60px;
  --spacing-xs: 5px;
  --spacing-s: 10px;
  --spacing-m: 15px;
  --spacing-l: 20px;
  --spacing-xl: 30px;
  --spacing-xxl: 40px;
  --radius-s: 5px;
  --radius-m: 10px;
  --radius-l: 15px;
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --shadow-m: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  --global-width: 992px;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  background: rgb(4,3,2);  
  background: linear-gradient(0deg, rgba(4,3,2,1) 0%, rgba(16,16,16,1) 100%);  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: var(--global-width);
  margin: 0 auto;
  padding: var(--spacing-s)
}

ul {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: rgba(var(--color-primary), 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: rgba(var(--color-light), 1);
}

p {
  font-weight: 500;
  line-height: 1.3;
  color: rgba(var(--color-light), 0.7);
}

span {
  color: rgba(var(--color-light), 0.7);
  font-size: var(--font-xs);
}

h1 {
  font-size: var(--font-xxxl);
  font-weight: 600;

  @include medium {
    font-size: var(--font-xxxxl);
  }
}

h2 {
  font-size: var(--font-xxl);
  font-weight: 600;
  
  @include medium {
    font-size: var(--font-xxxl);
  }
}

h3 {
  font-size: var(--font-xl);
  font-weight: 600;

  @include medium {
    font-size: var(--font-xxl);
  }
}

h4 {
  font-size: var(--font-l);
  font-weight: 600;

  @include medium {
    font-size: var(--font-xl);
  }
}

h5 {
  font-size: var(--font-m);
  font-weight: 500;

  @include medium {
    font-size: var(--font-l);
  }
}

h6 {
  font-size: var(--font-s);
  font-weight: 500;

  @include medium {
    font-size: var(--font-m);
  }
}

.color-transparent {
  color: transparent;
}

.color-light {
  color: rgba(var(--color-light), 1);
}

.color-dark {
  color: rgba(var(--color-dark), 1);
}

.color-primary {
  color: rgba(var(--color-primary), 1);
}

.color-secondary {
  color: rgba(var(--color-secondary), 1);
}

.color-positive {
  color: rgba(var(--color-positive), 1);
}

.color-stable {
  color: rgba(var(--color-stable), 1);
}

.color-stable-500 {
  color: rgba(var(--color-stable-500), 1);
}

.color-stable-700 {
  color: rgba(var(--color-stable-700), 1);
}

.background-transparent {
  background-color: transparent;
}

.background-light {
  background-color: rgba(var(--color-light), 1);
}

.background-dark {
  background-color: rgba(var(--color-dark), 1);
}

.background-primary {
  background-color: rgba(var(--color-primary), 1);
}

.background-secondary {
  background-color: rgba(var(--color-secondary), 1);
}

.background-positive {
  background-color: rgba(var(--color-positive), 1);
}

.background-stable {
  background-color: rgba(var(--color-stable), 1);
}

.background-stable-500 {
  background-color: rgba(var(--color-stable-500), 1);
}

.background-stable-700 {
  background-color: rgba(var(--color-stable-700), 1);
}

.font-xxs {
  font-size: var(--font-xxs);
}

.font-xs {
  font-size: var(--font-xs);
}

.font-s {
  font-size: var(--font-s);
}

.font-m {
  font-size: var(--font-m);
}

.font-l {
  font-size: var(--font-l);
}

.font-xl {
  font-size: var(--font-xl);
}

.font-xxl {
  font-size: var(--font-xxl);
}

.font-xxxl {
  font-size: var(--font-xxxl);
}

.font-xxxxl {
  font-size: var(--font-xxxxl);
}