.footer {
  border-top: solid 1px #252628;
  min-height: 200px;
  padding: var(--spacing-xxl);
  background-image: radial-gradient(farthest-side at bottom left,#2b173d,transparent 900px),radial-gradient(farthest-corner at bottom right,#3a2a40,transparent 1000px);
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: var(--global-width);
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.items {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: var(--spacing-xxl);
}

.column {
  display: grid;
  grid-template-columns: 100%;
  margin-top: var(--spacing-m);
}

.link {
  margin: var(--spacing-xs) 0;
}