@import '../../styles/mixins.scss';

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 750px;
  padding: 0 0 75px;
  z-index: 2;
  position: relative;
}

.content {
  margin-top: var(--spacing-m);
  text-align: center;
}

.items {
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  gap: var(--spacing-l);
  width: 100%; 
  margin: var(--spacing-xl) 0 50px;

  @include medium {
    grid-template-columns: 30% 30% 30%;
    margin: 100px 0 50px;
  }
}

.layer {
  position: absolute;
  top: 0;
  z-index: -1;
  transform: scale(2);
}