@import '../../styles/mixins.scss';

.cta {
  padding: 75px 0;
}

.card {
  position: relative;
  display: grid;
  padding: var(--spacing-xxl);
  gap: 20px;
  overflow: hidden;
  background: none;
  background-image: url('../../../public/gradient0.svg');
  background-size: cover;
  

}

.description {
  color: rgba(var(--color-light), 1);
}

.artifact {
  position: absolute;
  top: 20px;
  right: -70px;
  transform: scale(0.5);

  @include medium {
    top: -30px;
    right: 0;
    transform: scale(1);
  }
}