.cta {
  padding: 75px 0;
}

.card {
  position: relative;
  display: grid;
  padding: var(--spacing-xxl);
  gap: 20px;
  background: rgba(var(--color-primary), 1);
  background: linear-gradient(0deg,  rgba(var(--color-primary), 1) 0%,  rgba(var(--color-primary-500), 0.9) 100%);
  overflow: hidden;
}

.description {
  color: rgba(var(--color-light), 1);
}

.artifact {
  position: absolute;
  top: -30px;
  right: 0;
}