.cta {
  padding: 75px 0;
}

.card {
  position: relative;
  display: grid;
  padding: var(--spacing-xxl);
  gap: 20px;
  background: rgb(255,150,46);
  background: -moz-linear-gradient(0deg, rgba(255,150,46,1) 0%, rgba(255,147,0,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,150,46,1) 0%, rgba(255,147,0,1) 100%);
  background: linear-gradient(0deg, rgba(255,150,46,1) 0%, rgba(255,147,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff962e",endColorstr="#ff9300",GradientType=1);
  overflow: hidden;
}

.description {
  color: rgba(var(--color-light), 1);
}

.artifact {
  position: absolute;
  top: -30px;
  right: 0;
}